@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


.data-display {
  width: auto;
  height: 300px;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.poketh-display {
  display: inline-block;
  text-align: center;
}

.sticky-display {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 100px;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 600px) {
  .data-display {
    height: 100px;
  }
  .navbar-text-change {
    font-size: 13px;
  }
} 

@media only screen and (min-width: 600px) {
  .data-display {
    height: 150px;
  }
  .navbar-text-change {
    font-size: 14px;
  }
} 

@media only screen and (min-width: 768px) {
  .data-display {
    height: 200px;
  }
  .navbar-text-change {
    font-size: 15px;
  }
} 

@media only screen and (min-width: 992px) {
  .data-display {
    height: 250px;
  }
  .navbar-text-change {
    font-size: 16px;
  }
} 

@media only screen and (min-width: 1200px) {
  .data-display {
    height: 300px;
  }
  .navbar-text-change {
    font-size: 16px;
  }
}